/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.gwt-TabPanelBottom {
    border-width: 0 !important;
    padding: 2px !important;
}

.gwt-TabBar {
    background-color: black !important;
}

.x-panel-header-text{
    font-weight: bold;
    font-size: 1.25em;
}

.suite-result{
    font-size: 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 5px solid;
    background-color: #F0F8FF;
    padding: 2px 2px 2px 2px;
}

.suite-status{
    font-size: 2.8em;
    float: right;
    /*position: relative;*/

}

.opac{
    opacity: 0.2;
}

.non-opac{
    opacity: 1;
}

.some-opac{
    opacity: 0.6;
}

.red-border {
    border-color: #E65D5D;
}

.green-border {
    border-color: #3AC24A;
}

.orange-border {
    border-color: #EABB2F;
}

.blue-text {
    color: #2825EE;
}

.red-text {
    color: #E65D5D;
}

.green-text {
    color: #3AC24A;
}

.orange-text {
    color: #EABB2F;
}

.test-number {
    font-size: 1.2em;
    font-weight: bold;
}

.link{
    font-size: 0.75em;
}

.gwt-Image {
    width: 15px;
    height: 15px;
}

.chart-dialog{
    text-align: center;
    font-weight: bold;
    background-color: #F0F8FF;
    border: solid #000000 2px;
    border-radius: 10px;
}